
.ipynb_checkpoints/covid-checkpoint.ipynb
*.pyc
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/world-checkpoint.ipynb
.ipynb_checkpoints/eu-checkpoint.ipynb
.ipynb_checkpoints/eu-checkpoint.ipynb
.ipynb_checkpoints/world-checkpoint.ipynb
